    body {
    background: rgba(0, 0, 0, 1);
    margin: 0;
}

header {
    display: flex;
    background: rgba(184, 223, 216, 1);
    grid-gap: 0.2%;
    padding: 0.5%;
}

.logo {
    width: 40px;
    height: 40px;
    margin-left: 25px;
    margin-top: 15px;
}

h1 {
    font-size: 15px;
    font-family: 'Bungee', sans-serif;
    color: rgba(76, 76, 109, 1);
    margin-top: 20px;
}

h2 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: rgba(232, 246, 239, 1);
    margin-left: 40px;
    margin-top: 25px;
}

/* Para la parte del menu del filtrado, ordenado, estadisticas y limpiar*/
.menu {
    margin-top: 25px;
}

label {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 225, 148, 1);
    margin-left: 40px;
}

select {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(184, 223, 216, 1);
    border-radius: 10%;
    margin-left: 5px;
    color: rgba(30, 30, 30, 1);
    padding: 0.5%;
}

#Estadisticas1 {
    width: 250px;
    height: 40px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(184, 223, 216, 1);
    border-radius: 10%;
    margin-left: 5px;
    color: rgba(30, 30, 30, 1);
    padding: 0.5%;
}

.ventana-contenedor {
    display: none;
}

/*para las tarjetas (items)*/
img {
    width: 320px;
    height: 180px;
    margin: 0px;
    border-radius: 5% 5% 0% 0%;
}

p {
    margin: 0px;
    margin-left: 15px;
    margin-top: 5%;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: rgba(76, 76, 109, 1);
}

h3 {
    margin: 0px;
    margin-left: 15px;
    font-family: 'Roboto', sans-serif;
    color: rgba(30, 30, 30, 1);
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.lista {
    display: flex;
    margin: 0px;
    flex-direction: column;
    background: rgba(184, 223, 216, 1);
    width: 320px;
    height: 250px;
    border-radius: 5%;
}

.logoLimpiar {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-top: 10px;
}

footer {
    display: flex;
    background: rgba(255, 225, 148, 1);
    color: rgba(30, 30, 30, 1);
    font-size: 15px;
    font-family: 'Bungee', sans-serif;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

[data-testid="button-clear"] {
    background: rgba(255, 225, 148, 1); 
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    border-radius: 10%;
    margin-left: 40px;
    color: rgba(30, 30, 30, 1);
    padding: 0.3%;
}